footer
	.container
		.row
			.col-md-12.col-lg-12
				.wow.wow-style.shake.animated(data-wow-delay='0.4s')
					.page-scroll.marginbot-30
						a#totop.btn.btn-circle(href='#intro')
							i.fa.fa-angle-double-up.animated
				p &copy;Copyright 2014 - Squad. All rights reserved.