section#service.home-section.text-center.bg-gray
	.heading-about
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.wow.wow-style.bounceInDown.animated(data-wow-delay='0.4s')
						.section-heading
							h2 Our Services
							i.fa.fa-2x.fa-angle-down
	.container
		.row
			.col-lg-2.col-lg-offset-5
				hr.marginbot-50

		.row
			.col-sm-3.col-md-3
				.wow.wow-style.fadeInLeft.animated(data-wow-delay='0.2s')
					.service-box
						.service-icon
							img(src='img/icons/service-icon-1.png', alt='')
						.service-desc
							h5 Print
							p
								| Vestibulum tincidunt enim in pharetra malesuada. Duis semper magna metus electram accommodare.

			.col-sm-3.col-md-3
				.wow.wow-style.fadeInUp.animated(data-wow-delay='0.2s')
					.service-box
						.service-icon
							img(src='img/icons/service-icon-2.png', alt='')
						.service-desc
							h5 Web Design
							p
								| Vestibulum tincidunt enim in pharetra malesuada. Duis semper magna metus electram accommodare.

			.col-sm-3.col-md-3
				.wow.wow-style.fadeInUp.animated(data-wow-delay='0.2s')
					.service-box
						.service-icon
							img(src='img/icons/service-icon-3.png', alt='')
						.service-desc
							h5 Photography
							p
								| Vestibulum tincidunt enim in pharetra malesuada. Duis semper magna metus electram accommodare.

			.col-sm-3.col-md-3
				//style='visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;'
				.wow.wow-style.fadeInRight.animated(data-wow-delay='0.2s')
					.service-box
						.service-icon
							img(src='img/icons/service-icon-4.png', alt='')
						.service-desc
							h5 Cloud System
							p
								| Vestibulum tincidunt enim in pharetra malesuada. Duis semper magna metus electram accommodare.