section#contact.home-section.text-center
	.heading-contact
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.wow.bounceInDown.animated(data-wow-delay='0.4s', style='visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;')
						.section-heading
							h2 Get in touch
							i.fa.fa-2x.fa-angle-down
	.container
		.row
			.col-lg-2.col-lg-offset-5
				hr.marginbot-50
		.row
			.col-lg-8
				.boxed-grey
					form#contact-form
						.row
							.col-md-6
								.form-group
									label(for='name')
										| Name
									input#name.form-control(type='text', placeholder='Enter name', required='required')
								.form-group
									label(for='email')
										| Email Address
									.input-group
										span.input-group-addon
											span.glyphicon.glyphicon-envelope
										input#email.form-control(type='email', placeholder='Enter email', required='required')
								.form-group
									label(for='subject')
										| Subject
									select#subject.form-control(name='subject', required='required')
										option(value='na', selected='') Choose One:
										option(value='service') General Customer Service
										option(value='suggestions') Suggestions
										option(value='product') Product Support
							.col-md-6
								.form-group
									label(for='name')
										| Message
									textarea#message.form-control(name='message', rows='9', cols='25', required='required', placeholder='Message')
							.col-md-12
								button#btnContactUs.btn.btn-skin.pull-right(type='submit')
									| Send Message
			.col-lg-4
				.widget-contact
					h5 Main Office
					address
						strong Squas Design, Inc.
						br
						| &#x9;&#x9;&#x9;&#x9;  Tower 795 Folsom Ave, Beautiful Suite 600
						br
						| &#x9;&#x9;&#x9;&#x9;  San Francisco, CA 94107
						br
						abbr(title='Phone') P:
						|  (123) 456-7890
					address
						strong Email
						br
						a(href='mailto:#') email.name@example.com
					address
						strong We&apos;re on social networks
						br
						ul.company-social
							li.social-facebook
								a(href='#', target='_blank')
									i.fa.fa-facebook
							li.social-twitter
								a(href='#', target='_blank')
									i.fa.fa-twitter
							li.social-dribble
								a(href='#', target='_blank')
									i.fa.fa-dribbble
							li.social-google
								a(href='#', target='_blank')
									i.fa.fa-google-plus
