section#intro.intro
	.slogan
		h2
			| WELCOME TO
			span.text_color SQUAD
		h4 WE ARE GROUP OF GENTLEMEN MAKING AWESOME WEB WITH BOOTSTRAP
	.page-scroll
		a.btn.btn-circle(href='#service')
			i.fa.fa-angle-double-down.animated